# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

PostsService/node_modules
PostsService/.pnp
PostsService/.pnp.js

CommentsService/node_modules
CommentsService/.pnp
CommentsService/.pnp.js

EventBus/node_modules
EventBus/.pnp
EventBus/.pnp.js

QueryService/node_modules
QueryService/.pnp
QueryService/.pnp.js

ModerationService/node_modules
ModerationService/.pnp
ModerationService/.pnp.js

# testing
client/coverage
PostsService//coverage
CommentsService/coverage
EventBus/coverage
QueryService/coverage
ModerationService/coverage



# production
client/build
PostsService/build
CommentsService/build
EventBus/build
QueryService/build
ModerationService/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
